$font-family-main: 'Roboto';

$background-color-main: #fff;
$background-color-secondary: #faf8f5;

$text-color-main: #000;
$text-color-secondary: #989898;

$color-header-border: #e3e3e3;
$color-header-background: #fff;

$text-color-link: #007eff;
$text-color-visited-link: darken(#007eff, 15%);
$text-color-active-link: lighten(#007eff, 15%);

$disable-color-main: #eee;
$disable-color-secondary: #e3e3e3;

$space-small: 4px;
$space-middle: 8px;
$space-big: 16px;

$color-dark: #444;
$color-red: #f4414e;
$color-green: #3cb0b7;
$color-blue: #2f7deb;

$space-small: 4px;
$space-middle: 8px;
$space-big: 16px;
